/cmake-build-debug/CMakeFiles/3.30.2/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.30.2/CompilerIdCXX/a.out
/cmake-build-debug/CMakeFiles/projektSK2.dir/build.make
/cmake-build-debug/CMakeFiles/untitled3.dir/build.make
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-3805f6ee150acfbc11d1.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/projektSK2.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/untitled3.dir/cmake_clean.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.30.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.30.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e84514aafb92809c3a96.json
/cmake-build-debug/CMakeFiles/3.30.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-a98fa37185ac1e398758.json
/cmake-build-debug/CMakeFiles/projektSK2.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/untitled3.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/projektSK2.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/untitled3.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/projektSK2.dir/depend.make
/cmake-build-debug/CMakeFiles/untitled3.dir/depend.make
/cmake-build-debug/CMakeFiles/projektSK2.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/untitled3.dir/DependInfo.cmake
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/CMakeFiles/projektSK2.dir/flags.make
/cmake-build-debug/CMakeFiles/untitled3.dir/flags.make
/cmake-build-debug/.cmake/api/v1/reply/index-2024-12-30T00-25-48-0481.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/projektSK2.dir/link.txt
/cmake-build-debug/CMakeFiles/untitled3.dir/link.txt
/cmake-build-debug/CMakeFiles/projektSK2.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/projektSK2.dir/main.cpp.o.d
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/projektSK2.dir/progress.make
/cmake-build-debug/CMakeFiles/untitled3.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/projektSK2
/server
/cmake-build-debug/.cmake/api/v1/reply/target-projektSK2-Debug-332b776035ad5575c341.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-7096c62e23c342eb06a8.json
/cmake-build-debug/untitled3
/cmake-build-debug/CMakeFiles/projektSK2.dir/compiler_depend.internal
main
/build
backSieci1/CMakeLists.txt